<footer>
	<hr size="3">
	{% if site.twitter_username %}
		<p><a target='_blank' href="https://twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a></p>
	{% endif %}
	<div id="sfc9zsegwn3gkmab63bufgqrcp2ayry58fb"></div>
	<script type="text/javascript" src="https://counter2.stat.ovh/private/counter.js?c=9zsegwn3gkmab63bufgqrcp2ayry58fb&down=async" async></script>
	<noscript><a href="https://www.freecounterstat.com" title="VISITOR"><img src="https://counter2.stat.ovh/private/freecounterstat.php?c=9zsegwn3gkmab63bufgqrcp2ayry58fb" border="0" title="free website counter" alt="free website counter"></a></noscript>
	
	<p>Taipei, TAIWAN</p>
	<br>
</footer>
