{% if site.github %}
	<div class="rounded_panel txt_lightgrey"> 
		<div class="top-rounded-panel grey-bg"> 
			<h1>JOURNAL PUBLICATION</h1> 
		</div> 
		
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th scope="col">YEAR</th>
      					<th scope="col">TITLE</th>
      					<th scope="col">JOURNAL</th>
      					<th scope="col">INDEXING</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">1</th>
      						<td>Mark</td>
      						<td>Otto</td>
      						<td>@mdo</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      						<td>Jacob</td>
      						<td>Thornton</td>
      						<td>@fat</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      						<td>Larry</td>
      						<td>the Bird</td>
      						<td>@twitter</td>
    				</tr>
  		</tbody>
		</table>

	</div>

	<div class="rounded_panel txt_lightgrey"> 
		<div class="top-rounded-panel grey-bg"> 
			<h1>CONFERENCE</h1> 
		</div> 
		
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th scope="col">YEAR</th>
      					<th scope="col">TITLE</th>
      					<th scope="col">CONFERENCE</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">1</th>
      						<td>2015</td>
      						<td>A Novel Object Detection Method based on Fuzzy Sets Theory and Speed-Up Robust Feature (SURF)</td>
      						<td>International Conference on System Science and Engineering (ICSSE)</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      						<td>2021</td>
      						<td>Artificial Potential Field Algorithm for Obstacle Avoidance in UAV Quadrotor for Dynamic Environment</td>
      						<td>IEEE International Conference on Communication, Networks and Satellite (COMNETSAT)</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      						<td>2021</td>
      						<td>AutoSpine-Net: Spine detection using convolutional neural networks for Cobb angle Classification in Adolescent Idiopathic Scoliosis</td>
      						<td>International Conference on Electronics Biomedical Engineering and Health Informatics (ICEBEHI)</td>
    				</tr>
  		</tbody>
		</table>

	</div>
<!--
		<div class="content-rounded-panel" style="overflow: hidden;"> 
			<div> 
				{% for project in site.github 
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row"> 
					{% endif %}
						<div class="col-lg-6"> 
							<div class="github-widget" data-repo="{{project}}"></div> 
						</div> 
					{% if loopindex == 0 %}
					</div> 
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div> 
				{% endif %}
			</div> 
		</div>

	</div>
-->
{% endif %}

