{% if site.github %}
	<div class="rounded_panel txt_lightgrey"> 
		<div class="top-rounded-panel grey-bg"> 
			<h1>Some projects</h1> 
		</div> 
		
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th scope="col">#</th>
      					<th scope="col">First</th>
      					<th scope="col">Last</th>
      					<th scope="col">Handle</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">1</th>
      						<td>Mark</td>
      						<td>Otto</td>
      						<td>@mdo</td>
    				</tr>
    				<tr>
      					<th scope="row">2</th>
      						<td>Jacob</td>
      						<td>Thornton</td>
      						<td>@fat</td>
    				</tr>
    				<tr>
      					<th scope="row">3</th>
      						<td>Larry</td>
      						<td>the Bird</td>
      						<td>@twitter</td>
    				</tr>
  		</tbody>
		</table>

	</div>
<!--
		<div class="content-rounded-panel" style="overflow: hidden;"> 
			<div> 
				{% for project in site.github 
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row"> 
					{% endif %}
						<div class="col-lg-6"> 
							<div class="github-widget" data-repo="{{project}}"></div> 
						</div> 
					{% if loopindex == 0 %}
					</div> 
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div> 
				{% endif %}
			</div> 
		</div>

	</div>
-->
{% endif %}

