{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		
		<div class="top-rounded-panel grey-bg">
			<h1>RESUME</h1>
		</div>
		
		<style>
		.block {
			border: 2px solid #2196F3;
  			display: block;
  			width: 100%;
  			background-color: white;
  			color: #2E86C1;
  			padding: 14px 28px;
  			font-size: 16px;
  			cursor: pointer;
  			text-align: center;
		}
			
		.block:hover {
  			background-color: #ddd;
  			color: black;
		}
		</style>
		
		<div class="content-rounded-panel">
			
			<img src="../img/pic.jpg" width="200" height="200">			
			<br/><br/>
			
			<p style="color:blue"><b>Postdoctoral Researcher</b></p>
				<h5>National Taipei University of Technology</h5>
				<h5>Multimedia Optimization Lab</h5>
			
				<button class="block"><a href="#user-skills">Skills</a></button>
				<button class="block"><a href="#awards">Awards</a></button>
				<button class="block"><a href="#education">Education</a></button>
				<button class="block"><a href="#paper">Publications</a></button>
				<button class="block"><a href="#work">Experiences</a></button>
				<button class="block"><a href="#guest">Guest Lecture</a></button>

				<!--
			        <p style="color:#4B0082"><b><a href="#user-skills">Skills</a></b></p>
				<p style="color:#4B0082"><b><a href="#awards">Awards</a></b></p>
				<p style="color:#4B0082"><b><a href="#education">Education</a></b></p>
				<p style="color:#4B0082"><b><a href="#paper">Publications</a></b></p>
				<p style="color:#4B0082"><b><a href="#work">Experiences</a></b></p>
				<p style="color:#4B0082"><b><a href="#guest">Guest Lecture</a></b></p>
				-->
		</div>
		
		<!--
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.stackoverflow.profileurl}}">
					<img src="{{site.stackoverflow.flairimageurl}}" width="208" height="58" 
						alt="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
						title="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
				</a>
			</div>
		</div>
		-->
	</div>
{% endif %}
