{% if site.github %}
	<div class="rounded_panel txt_lightgrey"> 
		<div class="top-rounded-panel grey-bg"> 
			<h1>JOURNAL PAPER</h1> 
		</div> 
		
		<font size="8" face="Arial" >
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th scope="col">YEAR</th>
      					<th scope="col">PAPER</th>
      					<th scope="col">JOURNAL</th>
      					<th scope="col">INDEXING</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">2019</th>
      						<td><a href="https://www.mdpi.com/2076-3417/9/15/3011">Real-Time Automated Segmentation and Classification of Calcaneal Fractures in CT Images</a></td>
      						<td>Applied Sciences</td>
      						<td>SCI/EI</td>
    				</tr>
    				<tr>
      					<th scope="row">2019</th>
      						<td><a href="https://www.mdpi.com/2079-9292/8/12/1373">Real-Time Detection and Recognition of Multiple Moving Objects for Aerial Surveillance</a></td>
      						<td>Electronics</td>
      						<td>SCI/EI</td>
    				</tr>
    				<tr>
      					<th scope="row">2020</th>
      						<td><a href="https://journal.umy.ac.id/index.php/jrc/article/view/8547/5512">Design and Implementation of a Mobile Robot for Carbon Monoxide Monitoring</a></td>
      						<td>Journal of Robotics and Control</td>
      						<td>Scopus</td>
    				</tr>
				<tr>
      					<th scope="row">2020</th>
      						<td><a href="https://journal.umy.ac.id/index.php/jrc/article/view/10006/5820">Online Digital Image Stabilization for an Unmanned Aerial Vehicle</a></td>
      						<td>Journal of Robotics and Control</td>
      						<td>Scopus</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><a href="https://journal.umy.ac.id/index.php/jrc/article/view/10558/5995">Real-Time Human Detection Using Deep Learning on Embedded Platforms: A Review</a></td>
      						<td>Journal of Robotics and Control</td>
      						<td>Scopus</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><a href="https://www.emerald.com/insight/content/doi/10.1108/SR-12-2020-0301/full/html">Real-Time Bi-Directional People Counting Using an RGB-D Camera</a></td>
      						<td>Sensor Review</td>
      						<td>SCI/EI</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><a href="https://journal.umy.ac.id/index.php/jrc/article/view/11024/6476">Mobile Robot Path Planning in a Trajectory with Multiple Obstacles Using Genetic Algorithms</a></td>
      						<td>Journal of Robotics and Control</td>
      						<td>Scopus</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><a href="https://www.mdpi.com/2079-9292/10/14/1647">Distance Measurements of Unmanned Aerial Vehicles Using Vision-Based Systems in Unknown Environments</a></td>
      						<td>Electronics</td>
      						<td>SCI/EI</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><a href="https://www.mdpi.com/2624-6120/2/4/48">Development of Surface EMG Game Control Interface for Persons with Upper Limb Functional Impairments</a></td>
      						<td>Signals</td>
      						<td>Scopus</td>
    				</tr>
				<tr>
      					<th scope="row">2022</th>
      						<td><a href="https://www.tandfonline.com/doi/abs/10.1080/1448837X.2021.2023070">Sensor Integration for Real-Time Data Acquisition in Aerial Surveillance</a></td>
      						<td>Australian Journal of Electrical and Electronics Engineering</td>
      						<td>EI</td>
    				</tr>
  		</tbody>
		</table>
		</font>

		<div class="top-rounded-panel grey-bg"> 
			<h1>CONFERENCE PAPER</h1> 
		</div> 
		
		<font size="8" face="Arial" >
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th scope="col">YEAR</th>
      					<th scope="col">PAPER</th>
      					<th scope="col">CONFERENCE</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">2015</th>
      						<td><a href="https://www.researchgate.net/publication/335338824_A_novel_object_detection_method_based_on_Fuzzy_sets_theory_and_SURF">A Novel Object Detection Method Based on Fuzzy Sets Theory and Speed-Up Robust Feature (SURF)</a></td>
      						<td>International Conference on System Science and Engineering (ICSSE)</td>
    				</tr>
    				<tr>
      					<th scope="row">2021</th>
      						<td><a href="https://ieeexplore.ieee.org/document/9530803/">Artificial Potential Field Algorithm for Obstacle Avoidance in UAV Quadrotor for Dynamic Environment</a></td>
      						<td>IEEE International Conference on Communication, Networks and Satellite (COMNETSAT)</td>
    				</tr>
    				<tr>
      					<th scope="row">2021</th>
      						<td>AutoSpine-Net: Spine Detection Using Convolutional Neural Networks for Cobb Angle Classification in Adolescent Idiopathic Scoliosis</td>
      						<td>International Conference on Electronics Biomedical Engineering and Health Informatics (ICEBEHI)</td>
    				</tr>
  		</tbody>
		</table>
		</font>

	</div>
<!--
		<div class="content-rounded-panel" style="overflow: hidden;"> 
			<div> 
				{% for project in site.github 
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row"> 
					{% endif %}
						<div class="col-lg-6"> 
							<div class="github-widget" data-repo="{{project}}"></div> 
						</div> 
					{% if loopindex == 0 %}
					</div> 
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div> 
				{% endif %}
			</div> 
		</div>

	</div>
-->
{% endif %}

