{% if site.coursera %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="awards">ACHIEVEMENT AND AWARDS</h1>
		</div>
		<div class="content-rounded-panel">
	
			<table class="table">
  				<thead class="thead-light">
    					<tr>
      					<th bgcolor="#00008B" scope="col" style="text-align:center"><font color="white">Awards</th>
      					<th bgcolor="#00008B" scope="col" style="text-align:center"><font color="white">Title</th>
      					<th bgcolor="#00008B" scope="col" style="text-align:center"><font color="white">Year</th>
    					</tr>
  				</thead>
  				<tbody>
    					<tr>
      					<th bgcolor="#ADD8E6" scope="row">1st Winner</th>
      						<td bgcolor="#ADD8E6">Chess Competition Universitas Gadjah Mada (Woman Class), Yogyakarta, Indonesia</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2007</td>
    					</tr>
    					<tr>
      					<th bgcolor="#ADD8E6" scope="row">3rd Winner</th>
      						<td bgcolor="#ADD8E6">Yogyakarta Sport’s Competition - Chess (Woman), Indonesia</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2007</td>
    					</tr>
    					<tr>
      					<th bgcolor="#ADD8E6" scope="row">Finalist of Student Creativity Competition (Pekan Kreativitas Mahasiswa)</th>
      						<td bgcolor="#ADD8E6">District Information System Based on RFID</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2008</td>
    					</tr>
					<tr>
      					<th bgcolor="#ADD8E6" scope="row">3rd Winner of Scientific Writing Competition</th>
      						<td bgcolor="#ADD8E6">The Advantages of the Lapindo’s Mud as The Renewable Natural Resources for the Power Station</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2008</td>
    					</tr>
					<tr>
      					<th bgcolor="#ADD8E6" scope="row">Finalist of Rocket Payload Competition</th>
      						<td bgcolor="#ADD8E6">Interfacing of Rocket Payload Data of Temperature and Humidity, Accelerometer and Air Pressure</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2008</td>
    					</tr>
					<th bgcolor="#ADD8E6" scope="row">Finalist of Student Creativity Competition – Scientific Papers</th>
      						<td bgcolor="#ADD8E6">Automatic Circulation System based on the Detection of Carbon Dioxide Excessive</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2009</td>
    					</tr>
					<th bgcolor="#ADD8E6" scope="row">Scholarship Awardee</th>
      						<td bgcolor="#ADD8E6">National Central University, Taiwan</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2013 - 2020</td>
    					</tr>
					<th bgcolor="#ADD8E6" scope="row">Exchange Awardee</th>
      						<td bgcolor="#ADD8E6">Shibaura Institute of Technology, Japan</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2017</td>
    					</tr>
					<th bgcolor="#ADD8E6" scope="row">Best Paper Award</th>
      						<td bgcolor="#ADD8E6">International Conference on Electronics Biomedical Engineering and Health Informatics (ICEBEHI)</td>
      						<td bgcolor="#ADD8E6" style="text-align:center">2021</td>
    					</tr>
  				</tbody>
			</table>
		</div>
	</div>
{% endif %}



<!--
{% if site.coursera %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Coursera</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="courseraPanel">
				{% for course in site.coursera.courses %}
				<div class="row">
					{% if course.optionalimage %}
						<div class="col-sm-5">
							<img src="{{course.optionalimage}}">
						</div>
					{% endif %}
					<div class="col-sm-6">
						<a target='_blank' href="{{course.link}}">
							{{course.title}}
						</a><br/>
						<i>{{course.date}}</i>
					</div>
				</div><br/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
-->
