<div id="skillsBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-skills">SKILLS</h1>
	</div>
	<div class="content-rounded-panel">
		<p style="color:blue">Software</p>
		<div id="skills">
			{% for skill in site.skills %}
				<span class="label label-info label-padded"> {{skill}} </span> &nbsp;
			{% endfor %}
		</div>
	</div>
	<div class="content-rounded-panel">
		<p style="color:blue">Hardware</p>
		<div id="skills">
			{% for skill in site.skills2 %}
				<span class="label label-info label-padded"> {{skill}} </span> &nbsp;
			{% endfor %}
		</div>
	</div>
	<div class="content-rounded-panel">
		<p style="color:blue">PCB Layout</p>
		<div id="skills">
			{% for skill in site.skills3 %}
				<span class="label label-info label-padded"> {{skill}} </span> &nbsp;
			{% endfor %}
		</div>
	</div>
</div>
