{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		
		<div class="top-rounded-panel grey-bg">
			<h1>RESUME</h1>
		</div>
		
		<div class="content-rounded-panel">
			<img src="../img/pic.jpg" width="200" height="200">
			<br/><br/>
			<p style="color:blue"><b>Postdoctoral Researcher</b></p>
				<h5>National Taipei University of Technology</h5>
				<h5>Taipei, Taiwan</h5>
		</div>
		
		<!--
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.stackoverflow.profileurl}}">
					<img src="{{site.stackoverflow.flairimageurl}}" width="208" height="58" 
						alt="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
						title="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
				</a>
			</div>
		</div>
		-->
	</div>
{% endif %}
