{% if site.speakerdeck %}
	<div id="introBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="user-intro">Seminar</h1>
		</div>
		
		<div class="content-rounded-panel">
			{% for talk in site.speakerdeck.talks %}
				<h5>{{talk.title}} ({{talk.host}}) {{talk.date}})</h5>
					<iframe width="420" height="345" src="https://www.youtube.com/embed/cTv9QcIwxrQ?autoplay=1&mute=1">
		                	</iframe>
				<br/><br/>
			{% endfor %}

		</div>
	</div>
{% endif %}
