{% if site.speakerdeck %}
	<div id="introBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="user-intro">GUEST SPEAKERS</h1>
		</div>
		
		<div class="content-rounded-panel">
			{% for talk in site.speakerdeck.talks %}
				<h5><b>Title:</b> {{talk.title}}</h5>
				<h5><b>Host:</b> {{talk.host}}</h5>
				<h5><b>Date:</b> {{talk.date}}</h5>
				<br/>
			{% endfor %}

		</div>
		
		<div class="content-rounded-panel">
			{% for talk in site.speakerdeck.talks2 %}
				<h5><b>Title:</b> {{talk.title}}</h5>
				<h5><b>Host:</b> {{talk.host}}</h5>
				<h5><b>Date:</b> {{talk.date}}</h5>
					<iframe width="500" height="330" src="https://www.youtube.com/embed/cTv9QcIwxrQ?autoplay=1&mute=1">
		                	</iframe>
				<br/><br/>
			{% endfor %}

		</div>
		
		<div class="content-rounded-panel">
			{% for talk in site.speakerdeck.talks3 %}
				<h5><b>Title:</b> {{talk.title}}</h5>
				<h5><b>Host:</b> {{talk.host}}</h5>
				<h5><b>Date:</b> {{talk.date}}</h5>
					<iframe width="500" height="330" src="https://docs.google.com/presentation/d/e/2PACX-1vRS67QdZXQfBQnbhRx8qUbDeVHFk_GwA-FWUow_grzJw3OOVy7SpdO3ymMO_x81QA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
					</iframe>
				<br/><br/>
			{% endfor %}

		</div>
	</div>
{% endif %}
